<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Basic Flask App</title>
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>

    <!-- you are going to want to put nav bar and footer because it extends -->

      <header>
        <nav>
          <ul>
            <!-- cannot directly go to html pages -->
            <!-- need to call route -->
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('pageData', name='John') }}">Data</a></li>
            <li><a href="{{ url_for('go_home') }}">Redirect</a></li>
          </ul>
        </nav>
      </header>
    {% block content %} {% endblock %}

  </body>
</html>
